/*global*/
:root {
    /*color*/
    --d-color: rgb(35, 177, 200);
    --real-white: rgb(230, 230, 230);
    --real-black: rgb(25, 25, 25);
    --real-red: rgb(200, 35, 35);
    --real-blue: rgb(35, 35, 200);
    --body-color: rgb(187, 155, 169);
    /*size*/
    --max-width: 1280px;
}

/*global*/

/*universal tags*/\
* {
    box-sizing: border-box;
}

body {
    background-color: var(--body-color);
    margin: 0;
    cursor: default;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

/*universal tags*/

/*header*/
header {
    /*background-color: dodgerblue;*/
    display: flex;
    justify-content: center;
}

navbar {
    background-color: var(--real-white);
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: var(--max-width);
}
.navbar__logo {
    width: 150px;
    height: 60px;
}
.navbar__logo > img{
    width: 100%;
    height: 100%;
}
/*header*/

/*carousel section*/
#carousel {
    background: url(https://via.placeholder.com/1280x500.png/00ff7f/FFFFFF/?text=1280x500+carousel+screen+position) no-repeat;
    margin: 0 auto;
    max-width: var(--max-width);
    min-height: 500px;
}
/*position the image container (needed to position the left and right arrows)*/
.carousel__container {
    position: relative;
    width: 100%;
    height: 500px;
}

/*Hide the images by default*/
.carousel__row {
    display: none;
    width: 100%;
    height: 100%;
}
.carousel__row > img{
    width: 100%;
    height: 100%;
}

/*next & previous buttons*/
.carousel_btn {
    cursor: pointer;
    position: absolute;
    padding: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    color: var(--real-black);
    font-weight: bold;
    font-size: 2rem;
    /*
    user-select: none;
    -webkit-user-select: none;
    https://developer.mozilla.org/ko/docs/Web/CSS/user-select
    */
}
.next {
    right: 0;
}

.prev:hover,
.next:hover {
    background-color: var(--d-color);
}

.carousel__active {
    display: block;
}
/*carousel section*/

/*notice & login section*/
#content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    max-width: var(--max-width);
}
.content__title {
    /*background-color: fuchsia;*/
    display: flex;
    width: 100%;
    height: 80px;
}
.content__title h2 {
    margin: 0;
    padding: 0 1rem;
    width: 50%;
    line-height: 80px;
    text-align: center;
}
.content__title h2:last-child {
    text-align: right;
    font-size: 1.25rem;
}
/*notice*/
#notice {
    background-color: var(--real-white);/*dimgray;*/
    margin-right: 2%;
    width: 53%;
}
.notice__title > a > p {
    margin: 0.5rem;
    padding: 0 0.25rem 0.125rem;
    color: black;
    font-size: 1.25rem;
    border-bottom: 1px solid gray;
    box-sizing: border-box;
}
/*notice*/

/*login*/
#login {
    background-color: var(--real-white);/*greenyellow;*/
    display: flex;
    flex-direction: column;
    padding: 60px;
    width: 45%;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
}
#login > div {
    background-color: blueviolet;
    width: 100%;
    height: 50px;
}
/*login*/
/*notice & login section*/

/*all games section*/
#allgames {
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto 0;
    max-width: var(--max-width);
}
.allgames__title {
    width: 100%;
}
.allgames__title-div {
    display: flex;
    width: 100%;
}
.allgames__title-div:last-child {
    background-color: goldenrod;
}
.allgames__title h2 {
    width: 50%;
}
.allgames__search {
    width: 50%;
    text-align: right;
    transform: translateY(50%);
}
.allgames__search input {
    font-size: 1.25rem;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}
.game__tag-radio {
    /*display: none;*/
}
/*all games section*/

/*arrow up*/
.arrow-up {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 70px;
    height: 70px;
    font-size: 50px;
    color: var(--color-white);
    background-color: var(--color-pink);
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;/*보이지 않을 때는 클릭 이벤트가 발생되지 않게 막는다*/
    transition:  all var(--animation-duration) ease-in;
}

.arrow-up.visible {
    opacity: 1;
    pointer-events: auto;
}
/*arrow up*/