/*global*/
:root {
    /*color*/
    --d-color: rgb(35, 177, 200);
    --real-white: rgb(255, 255, 2555);
    --real-black: rgb(25, 25, 25);
    --real-red: rgb(200, 35, 35);
    --real-blue: rgb(35, 35, 200);
    --body-color: rgba(230, 230, 230);
    --background-none: rgba(0, 0, 0, 0);
    /*size*/
    --max-width: 1280px;
}

/*global*/

/*universal tags*/\
* {
    box-sizing: border-box;
}

body {
    background-color: var(--body-color);
    margin: 0;
    cursor: default;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

/*universal tags*/

/*header*/
header {
    /*background-color: dodgerblue;*/
    display: flex;
    justify-content: center;
}

navbar {
    background-color: var(--real-white);
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: var(--max-width);
}
.navbar__logo {
    width: 150px;
    height: 60px;
}
.navbar__logo > img{
    width: 100%;
    height: 100%;
}
/*header*/

/*carousel section*/
#carousel {
    background: url(https://via.placeholder.com/1280x500.png/00ff7f/FFFFFF/?text=1280x500+carousel+screen+position) no-repeat;
    margin: 0 auto;
    max-width: var(--max-width);
    min-height: 500px;
}
/*position the image container (needed to position the left and right arrows)*/
.carousel__container {
    position: relative;
    width: 100%;
    height: 500px;
}

/*Hide the images by default*/
.carousel__row {
    display: none;
    width: 100%;
    height: 100%;
}
.carousel__row > img{
    width: 100%;
    height: 100%;
}

/*next & previous buttons*/
.carousel_btn {
    cursor: pointer;
    position: absolute;
    padding: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    color: var(--real-black);
    font-weight: bold;
    font-size: 2rem;
    /*
    user-select: none;
    -webkit-user-select: none;
    https://developer.mozilla.org/ko/docs/Web/CSS/user-select
    */
}
.next {
    right: 0;
}

.prev:hover,
.next:hover {
    background-color: var(--d-color);
}

.carousel__active {
    display: block;
}
/*carousel section*/

/*notice & login section*/
#content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    max-width: var(--max-width);
}
.content__title {
    /*background-color: fuchsia;*/
    display: flex;
    width: 100%;
    height: 80px;
}
.content__title h2 {
    margin: 0;
    padding: 0 1rem;
    width: 50%;
    line-height: 80px;
    text-align: center;
}
.content__title h2:last-child {
    text-align: right;
    font-size: 1.25rem;
}
/*notice*/
#notice {
    background-color: var(--real-white);/*dimgray;*/
    margin-right: 2%;
    width: 53%;
}
.notice__title > a > p {
    margin: 0.5rem;
    padding: 0 0.25rem 0.125rem;
    color: black;
    font-size: 1.25rem;
    border-bottom: 1px solid gray;
    box-sizing: border-box;
}
/*notice*/

/*login*/
#login {
    background-color: var(--real-white);/*greenyellow;*/
    display: flex;
    flex-direction: column;
    padding: 60px;
    width: 45%;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
}
#login > div {
    background-color: var(--real-black);
    margin: 0.125rem;
    width: 100%;
    height: 50px;
    color: var(--real-white);
    font-size: 1rem;
}
.login__social {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login__social > i {
    margin: 0 5px;
    font-size: 1.25rem;
}
/*login*/
/*notice & login section*/

/*all games section*/
#allgames {
    display: flex;
    flex-wrap: wrap;
    margin: 32px auto;
    max-width: var(--max-width);
}
.allgames__title {
    width: 100%;
}
.allgames__title-div {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
}
.allgames__title-div:last-child {
    background-color: var(--real-white);/*goldenrod;*/
}
.allgames__title h2 {
    margin: 0;
    text-align: left;
}
.allgames__search {
    text-align: right;
}
.allgames__search input {
    background-color: var(--background-none);
    font-size: 1.25rem;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}
.allgames__title-div > span {
    background: var(--real-black);
    display: inline-block;
    border-radius: 10px;
    margin:13px auto;
    padding: 0 8px;
    box-sizing: border-box;
    text-align: center;
}
.allgames__title-div > span > label {
    font-size: 1rem;
    color: var(--real-white);
}
.allgames__title-div > span:hover {
    background-color: var(--d-color);
    transition: all 0.3s ease-in;
}
.game__tag-radio {
    display: none;
}
.game__tag-radio:checked + label {
    color: var(--real-blue);
    font-weight: bold;
}
.allgames__content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 32px;
}
.game__info {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
}
.game-img {
    overflow: hidden;/*scale 줌인 효과*/
    height: 60%;
}
.game-img:hover img {
    transform: scale(1.2);
    transition: all 0.5s ease-in;
}
.game__info-div {
    background-color: var(--real-white);
    position: relative;
    height: 40%;
}
.game__info-div > h2,
.game__info-div > i {
    margin: 12px 0;
}
.game__info-div i {
    position: absolute;
    top: 0;
    right: 8px;
    font-size: 1.5rem;
}
/*all games section*/

/*footer*/
footer {
    background-color: var(--real-black);
    position: relative;
    margin: 0 auto;
    padding: 8px 16px;
    width: 100%;
    max-width: var(--max-width);
    box-sizing: border-box;
}

.social {
    text-align: right;
}
.social i {
    background-color: var(--real-black);
    color: var(--real-white);
    font-size: 1.5rem;
}
.social i:hover {
    color: var(--d-color);
}
.copyright > span {
    text-transform: uppercase;
}
/*footer*/

/*arrow up*/
.arrow-up {
    position: fixed;
    padding: 0;
    bottom: 100px;
    right: 10px;
    width: 70px;
    text-align: left;
    font-size: 1.25rem;
    color: var(--real-white);
    background-color: var(--background-none);
    border: 1px solid var(--real-white);
    opacity: 0;
    pointer-events: none;
    transition:  all 0.7s ease-in;
}
.arrow-up:hover {
    color: var(--d-color);
    border: 1px solid var(--d-color);
}
.arrow-up > span {
    text-transform: uppercase;
    text-decoration: underline;
}

.arrow-up.visible {
    opacity: 1;
    pointer-events: auto;
}
/*arrow up*/